*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-image: url(https://media.revistagq.com/photos/5f45010acb266484bb785c78/master/pass/dragon-ball-z.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;

}

h1{
    text-align: center;
    color: beige;
}